<h1>Nueva Publicación</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Ver Publicación", post, class: "btn btn-primary" %>
    </p>
  <% end %>
</div>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to "Nueva Publicación", new_post_path, class: "btn btn-primary" %>
<% end %>
